body{
    background-repeat:repeat;
    background-size: 1550px 700px;
    text-align: center;
    background-color: yellow; 
    font-family: monospace;
    
}
img{
    padding-top: 0;
    width: 350px;
    length: 280px;
}
.well {
    margin: 40px 100px;
    color: rgb(2, 2, 33);
    font-weight: bolder;
    background: rgb(189, 84, 84);
    

    
}

#favorite{
    background-color: yellowgreen;
    font-size: 30px;
    font-weight: bold;
    font-family: fantasy;
    margin-top: 100px;
   
    
}